
##############################################################################
# oopss-infra
# Description : Oopss infrastructure files using SaltStack
# URL : https://github.com/oopss/oopss-infra
# Copyright 2013 Oopss.org <team@oopss.org>
##############################################################################

{% set http_nginx_config_default = {
    'Debian': {
        'client_max_body_size': '16m',
        'server_tokens': 'off',
        'charset': 'utf-8',
    },
} %}

{% set http_nginx_config = salt['grains.filter_by'](http_nginx_config_default,
    merge=salt['pillar.get']('http:nginx:config')) %}

