
##############################################################################
# oopss-salt
# Description : Oopss infrastructure files using SaltStack
# URL : https://github.com/oopss/oopss-salt
# Copyright 2013-2015 Oopss.org <team@oopss.org>
##############################################################################

{% set http_nginx_config_default = {
    'Debian': {
        'client_max_body_size': '16m',
        'server_tokens': 'off',
        'gzip_vary': 'on',
        'gzip_types': 'text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript'
    },
} %}

{% set http_nginx_config = salt['grains.filter_by'](http_nginx_config_default,
    merge=salt['pillar.get']('http:nginx:config')) %}

