
##############################################################################
# oopss-infra
# Description : Oopss infrastructure files using SaltStack
# URL : https://github.com/oopss/oopss-infra
# Copyright 2013-2015 Oopss.org <team@oopss.org>
##############################################################################

http:
    nginx:
        config:
            client_max_body_size: 32m
            server_tokens: 'off'
            sendfile: 'off';
            # Add here simple key/value directives.

