# Managed by Salt

{% for zone in salt['pillar.get']('oopss:bind:master:zones', {}) %}
zone "{{ zone }}" {
    type master;
    file "/etc/bind/master/{{ zone }}";
    allow-query { any; };

    {% for ipaddr in salt['pillar.get']('oopss:bind:master:allow_transfer_from', {}) %}
    {% if loop.first %}
    allow-transfer {
    {% endif %}
        {{ ipaddr }};
    {% if loop.last %}
    };
    {% endif %}
    {% endfor %}
};
{% endfor %}

