oopss:
    base:

        debian:
            sources:
                - deb http://ftp.debian.org/debian/ wheezy main
                - deb http://ftp.debian.org/debian/ wheezy-updates main
                - deb http://security.debian.org/ wheezy/updates main

        hosts: salt://example/hostfile

        locales:
            default: en_US.utf8

        motd: |
          Default MOTD
          Change me !

        timezone: Europe/Paris

        users:

            bob:
                uid: 4201
                fullname: "Bob M"
                ssh: True
                sudoer: True
                password: '$6$cDrkUw94$3JCwZFFDsZbDaz4r2WT53i/qAWkHyIFQIyuiFjV1Hzbc48edtjtJTQJ1mVRSxhdo33hz14xkdMpbgtt3u56E4.'
                ssh_auth:
                    - 'ssh-rsa xxx bob@host1'
                    - 'ssh-rsa xxx bob@host2'

        utils:
            pkg:
                - sl

